.layout-container {
    .header-container {
        margin-top: 12px;
    }
    .layout {
        margin: 12px;
        padding: 12px;
        background-color: var(--background-color);
        border-radius: 5px;
        min-height: 500px;
    }
}