.header-container {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 5px;
    @media only screen and (max-width: 767px) {
        padding: 12px;
    }
    @media only screen and (max-width: 500px) {
        display: block;
    }
    .header-content-left {
        .icon {
            display: inline-block;
            text-align: center;
            color: var(--primary-color);
            font-size: 16px;
            margin-right: 6px;
            font-size: 2rem;
        }
        .title {
            display: inline-block;
            color: var(--primary-color);
        }
        @media only screen and (max-width: 767px) {
            h1, .icon {
                font-size: 1.5rem;
            }
        }
    }
    .header-content-right {
        ul {
            display: flex;
            justify-content: flex-start;
            list-style: none;
            font-size: 16px;
            margin-bottom: 0;
            li {
                position: relative;
                margin-left: 12px;
                a {
                    background-color: var(--foreground-color);
                    color: var(--secondary-color);
                    box-shadow: 0 1px 15px 0 var(--box-shadow-small-color);
                    text-decoration: none;
                    padding: 12px;
                    border-radius: 20px;
                    &.active {
                        color: var(--primary-color);
                        & ~ .bubbles-container {
                            [class|='bubble'] {
                                opacity: 0.8
                            }
                        }
                    }
                    &:hover {
                        transform: scale(0.95);
                    }
                }
            }
            @media only screen and (max-width: 767px) {
                flex-wrap: wrap;
                padding-left: 0;
                li {
                    margin-top: 12px;
                    min-height: 50px;
                }
            }
        }
    }
}